
body {
margin: 0;
margin-bottom: 25px;
padding: 1em;
background-color: #FFFFFF;

font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
font-size: 13px;
color: #333;
}

#service {
background-color: #ddd;
margin: auto;
margin-left: auto;
padding-left: 1em;
margin-bottom: 2em;
padding-bottom:0.2em;
margin-right: auto;
}
a.img{

}

img.powered{
display: block;
margin-left: auto;   
margin-right: auto;
position:relative;
right:75px;
top:20px;
}

h1 {
font-size: 28px;
color: #000;
}

a  {color: #03c}
a:hover {
background-color: #03c;
color: white;
text-decoration: none;
}



endpoint {
font-size: 2em;
font-weight:bold;
}

method{
font-weight:bold;
}

params{
font-family:monospace;
}


h1, h2, h3, h4, h5 {
font-family: sans-serif;
margin: 1.2em 0 0.6em 0;
}

p {
line-height: 1.5em;
margin: 1.6em 0;
}

code, tt {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
clear: both;
padding-top: 2em;
text-align: center;
padding-right: 160px;
font-family: sans-serif;
font-size: 10px;
}
