<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Welcome to Taxosaurus</title> 
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<img src="images/Phylotastic_logo.png" width="500px"/><h1>Taxosaurus - <i>The Taxonomic Thesaurus</i></h1>
	<h2>Submit a list of scientific names to obtain the accepted name across various taxonomic sources.</h2>
	<p>Taxosaurus is a meta Taxonomic Name Resolution Service that implements the Phylotastic TNRastic API.<br />Fore more information, please visit <a
			href="http://www.evoio.org/wiki/Phylotastic/TNRS">http://www.evoio.org/wiki/Phylotastic/TNRS</a>.</p>
	

	<div id="service"> <endpoint><% prefix %>/submit</endpoint>
	<p>
		<method>POST</method>
		a list of scientific names to the service and retrieve a token.
		<ul>
			<li>Parameters:</li>
			<ul>
				<li><params>query</params>: newline separated list of scientific
					names. <em>OR</em></li>
				<li><params>file</params>: a text file containing newline
					separated scientific names</li>
			</ul>
			<li>Returns: a JSON object containing a token to access the
				results.</li>
			<li>Example: <a
				href="<% host %><% prefix %>/submit?query=Panthera+tigris%0AEutamias+minimus%0AMagnifera+indica%0AHumbert+humbert"><%
					host
					%><% prefix %>/submit?query=Panthera+tigris%0AEutamias+minimus%0AMagnifera+indica%0AHumbert+humbert</a></li>
		</ul>
		<method>GET</method>
		a list of scientific names to the service and retrieve a token.
		<ul>
			<li>Parameters:</li>
			<ul>
				<li><params>query</params>: newline separated list of scientific
					names.</li>
			</ul>
			<li>Returns: a JSON object containing a token to access the
				results.</li>
			<li>Example: <a
				href="<% host %><% prefix %>/submit?query=Panthera+tigris%0AEutamias+minimus%0AMagnifera+indica%0AHumbert+humbert"><%
					host
					%><% prefix %>/submit?query=Panthera+tigris%0AEutamias+minimus%0AMagnifera+indica%0AHumbert+humbert</a></li>
		</ul>
	</p>
	</div>
	<div id="service"> <endpoint><% prefix %>/retrieve/&lt;token&gt;</endpoint>
	<p>
		<method>GET</method>
		the result of a TNRastic query.
		<ul>
			<li>Parameters: <i>none</i></li>
			<li>Returns: a JSON object containing the accepted names.</li>
			<li>Example: <a
				href="<% host %><% prefix %>/retrieve/7381e6dddcb06a7865c56b5dfd40cf05"><%
					host %><% prefix %>/retrieve/7381e6dddcb06a7865c56b5dfd40cf05</a></li>
		</ul>
	</p>
	</div>

	<div id="service"> <endpoint><% prefix %>/sources/list</endpoint>
	<p>
		<method>GET</method>
		a ranked list the ids of all available sources.
		<ul>
			<li>Parameters: <i>none</i></li>
			<li>Returns: a JSON object containing the list of source_id.</li>
			<li>Example: <a href="<% host %><% prefix %>/sources/list"><% host
					%><% prefix %>/sources/list</a></li>
		</ul>
	</p>
	</div>

	<div id="service"> <endpoint><% prefix %>/sources/&lt;source_id&gt;</endpoint>
	<p>
		<method>GET</method>
		the details about a particular source. If source_id is omitted, the
		details are returned for all available sources.
		<ul>
			<li>Parameters:
				<ul>
					<li><params>&lt;source_id&gt</params>: the source id.</li>
					<li><i>none</i> to return the details for all sources.</li>
				</ul>
				<li>Returns: a JSON object containing source(s) details.</li>
				<li>Example: <a href="<% host %><% prefix %>/sources/NCBI"><% host
						%><% prefix %>/sources/NCBI</a></li>
		</ul>
	</p>
	</div>


	<div id="service"> <endpoint><% prefix %>/delete/&lt;token&gt;</endpoint>
	<p>
		<method>GET</method>
		<i>or</i>
		<method>POST</method>
		<i>or</i>
		<method>DELETE</method>
		. Cancels a running job
		<ul>
			<li>Parameters:
				<ul>
					<li><params>&lt;token&gt</params>: the token returned by the
						/submit request.</li>
				</ul>
			</li>
			<li>Returns: a JSON object indicating success or an error
				message.</li>
			<li>Example: <a
				href="<% host %><% prefix %>/delete/b6356e63f0c39d58066c1e772e24ff6f"><%
					host %><% prefix %>/delete/b6356e63f0c39d58066c1e772e24ff6f</a></li>  
		</ul>
	</p>
	</div>
	<div id="footer">Version <% version %></div>
<a class="img" href="http://www.iplantcollaborative.org" target="_blank"><img class="powered" src="images/iplant_power.png" width="100px"/></a>
</body>
</html>
